.movieCard {
    display: grid;
    border-radius: 20px;
    box-shadow: 5px 1px 4px rgba(9, 9, 9, 0.25);
    width: 100%;
    grid-auto-rows: 1fr;
    align-items: center;
    background-color: snow;
  }