.border {
  padding: 2rem;
}

.movieDetailsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
