.movie-section {
  padding: 3rem;
}
.moviesList {
  display: grid;
  grid-area: movies-list;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
  padding: 1rem;
  position: relative;
  align-items: center;
  }
  
  .movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
  }

  .movie-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

  }

  .movie-title {
    font-style: italic;
  }



  